* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Darker Grotesque', sans-serif;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem;
  box-shadow: 5px 6px 8px rgb(241, 239, 239);
  color: rgb(59, 53, 53);
  font-weight: 100;
  position: sticky;
  z-index:1000;
  top: 0;
  background-color: white;
}
.header .left {
  display: flex;
  flex-direction: row;
  column-gap: 0.6rem;
  align-items: center;
}
.left img {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  cursor: pointer;
}

.header .right {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.5rem;
}
.header .right-close {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.5rem;
}
.search {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 0.3rem;
  cursor: pointer;
  font-size: smaller;

}
.search:hover {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 0.3rem;
  cursor: pointer;
  color: rgb(255, 141, 2);
  font-size: smaller;
}
.search i {
  font-size: smaller;

}
.help {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 0.3rem;
  cursor: pointer;
  font-size: smaller;
}
.help:hover {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 0.5rem;
  cursor: pointer;
  color: rgb(255, 141, 2);
  font-size: smaller;
}
.help i {
  font-size: smaller
}
.user {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 0.5rem;
  cursor: pointer;
  font-size: smaller;
}
.user:hover {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 0.5rem;
  cursor: pointer;
  color: rgb(255, 141, 2);
  font-size: smaller;
}
.user i {
  font-size: smaller;
}
.cart {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 0.5rem;
  cursor: pointer;
  font-size: smaller;
}
.cart:hover {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 0.5rem;
  cursor: pointer;
  color: rgb(255, 141, 2);
  font-size: smaller;
}
.cart i {
  font-size: medium
}
.cart .value {
  background-color: red;
  color: white;
  width: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  right: 5.4rem;
  top: 1.8rem;
  font-size: smaller;
}
.right button{
  width: 4rem;
  height: 2rem;
  border: none;
  outline: none;
  border-radius: 0.7rem;
  color: white;
  background-color: rgb(24, 21, 21);
  cursor: pointer;
  font-size: smaller;
}
.right button:hover{
  width: 4rem;
  height: 2rem;
  border: none;
  outline: none;
  border-radius: 0.7rem;
  color: white;
  background-color: rgb(255, 141, 2);
  color: black;
  cursor: pointer;
  font-size: smaller;
}
.right-close button{
  width: 4rem;
  height: 2rem;
  border: none;
  outline: none;
  border-radius: 0.7rem;
  color: white;
  background-color: rgb(24, 21, 21);
  font-size: smaller;
  cursor: pointer;
}
.right-close button:hover{
  width: 4rem;
  height: 2rem;
  border: none;
  outline: none;
  border-radius: 0.7rem;
  color: white;
  background-color: rgb(255, 141, 2);
  color: black;
  font-size: smaller;
  cursor: pointer;
}
.context h2{
  font-size: smaller;
}
.body{
  margin: 1rem 2.8rem;
  display:flex;
  flex-direction: column;
  row-gap: 1.2rem;
}
.input{
display: flex;
justify-content: center;
align-items: center;
}
.input input{
  width: 15rem;
  height: 1.8rem;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
  border: 3px solid rgb(196, 113, 11);
  outline: none;
  font-weight: 300;
  font-family: 'Times New Roman', Times, serif;
  font-size: medium ;
  padding: 0.7rem;
}
.input button{
  width: 7rem;
  height: 1.8rem;
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
  background-color:rgb(196, 113, 11);
  font-size: large;
  font-weight: 200;
  color: white;
  cursor: pointer;
  outline: none;
  border: none;
}
.input button:hover{
  width: 7rem;
  height: 1.8rem;
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
  background-color: rgb(24, 21, 21);
  color: white;
  font-size: large;
  font-weight: 200;
  cursor: pointer;
  outline: none;
  border: none;
}
.filters{
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  row-gap: 1rem;
  outline: none;
  border: none;
}
.filter-title h1{
  font-size: larger;
}
.filter-btn{
  width: 13rem;
  height:2.7rem;
  border-radius: 2rem;
  background-color: rgb(24, 21, 21);
  color: white;
  cursor: pointer;
  font-size: large;
  font-weight: 500;
  outline: none;
  border: none;
}
.body-restaurant{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 1.6rem;
  row-gap: 1.2rem;
  margin-top: 0.2rem;
}
.body-restaurant .link{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 1.6rem;
  row-gap: 1.2rem;
  margin-top: 0.2rem;
  text-decoration: none;
  color: rgb(29, 28, 28);
}
.restaurant-card{
  display: flex;
  flex-direction: column;
  width: 17rem;
  height: auto;
  row-gap: 0.4rem;
  cursor: pointer;
}
.restaurant-card:hover{
  transform: scale(0.92);
  display: flex;
  flex-direction: column;
  width: 17rem;
  height: auto;
  row-gap: 0.4rem;
  cursor: pointer;
}
.restaurant-card img{
width: 17rem;
height: 11rem;
object-fit:cover;
border-radius: 1rem;
background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5))
}
.rating1{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 0.6rem;
}
.star{
color: green;
font-size: small;
}
.details{
  margin-left: 0.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.3rem;
}
.details h2{
  font-weight: 900;
  font-size: larger;
}
.details h4{
width: 16rem;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
overflow: hidden;
}
.cuisines{
  font-size: medium;
  color: #3f3e3e;
}
.rating h3{
  color: rgb(82, 70, 70);
}
.offer{
  position: absolute;
  top: 24rem;
  margin-left: 0.5rem;
  color: white;
  font-weight:700;
}
.footer{
  background-color: black;
  height: 5rem;
  display: flex;
  flex-direction: row;
  color: rgb(148, 142, 135);
  justify-content: space-between;
  padding: 1.5rem;
}
.footer .info{
  display: flex;
 column-gap: 3rem;
 margin-right: 4rem;
}
.footer img{
  width: 2rem;
  height:2rem;
  object-fit: contain;
}
.info h2{
  font-size: medium;
}
.about{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem 5rem;
  row-gap: 2rem;
  background-color: rgb(64, 102, 158);
  color: white;
}
.about h1{
  margin: 1rem 0rem auto;
  font-size: large;
}
.about-info{
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  padding:2rem;
  background-color: white;
  color: black;
}
.about img{
  width: 15rem;
  height: auto;
  object-fit:contain;
  border-radius: 4rem;
}
.main .passion{
  margin: 1rem;
  font-size: medium;
}
.about .brief-info{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 border-bottom: 1px solid grey;
 border-top: 1px solid grey;
 row-gap: 1.2rem;
 margin: 2rem auto;
 padding: 2rem;
}
.brief-info h2{
  font-size: medium;
}
.error{
  margin: 2rem 5rem;
}
.error img{
  width: 20rem;
  height: 18rem;
}
.header .right .link{
  color: rgb(68, 60, 60);
  text-decoration: none !important;
}
.header .right-close .link{
  color: rgb(68, 60, 60);
  text-decoration: none !important;
}
.sign-in{
  display: flex;
  flex-direction: column;
  margin: 2rem;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
}
.sign-in h1{
  font-size: large;
}
.menu{
  display: flex;
  flex-direction: column;
  margin: 2rem 7rem;

}
.info h1{
  font-size: larger;
}
.info h3{
  color: rgb(85, 77, 77);
  font-size:medium;
}
.info-rating{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}
.rating{
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(223, 206, 206);
  border-radius: 0.5rem;
  padding: 1rem;
  height: 6.3rem;
  row-gap: 0.5rem;
  margin-right: 2rem;
}
.rating span{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 0.4rem;
  row-gap: 0.4rem;
  color: green;
  border-bottom: 1px solid rgb(223, 206, 206);
  padding: 0.2rem;
}
.rating span i{
  font-size: small;
}
.rating h1{
  font-size:large;
}
.rating h4{
  color: rgb(85, 77, 77);
}
.rating i{
  font-size: large;
}
.delivery span{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 0.5rem;
  color: rgb(85, 77, 77);
}
.delivery .message{
  font-size: small;
}

.menu-details{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f0ebe1;
  border-bottom: 1px solid rgb(201, 179, 179);
  margin-top: 1rem;
  .top {
    box-shadow: 5px 6px 8px rgb(238, 234, 234);
  }
}
.menu-details .info{
width: 50rem;
padding: 2rem 0.8rem;
row-gap: 2rem;
}
.menu-details .info h3{
  color: rgb(133, 121, 121);
}
.menu-image{
  display: flex;
  flex-direction: column;
  position: relative;
}
.menu-details img{
  width: 12rem;
  height: 12rem;
  object-fit: contain;
  border-radius: 33%;
  padding: 1.5rem;
  margin-bottom: 1rem;

}
.menu-details button{
  background-color: black;
  color: white;
  width: 5rem;
  height: 2.5rem;
  font-size: larger;
  margin: 0 auto;
  position: absolute;
  right:3.0rem;
  top: 9.2rem;
  cursor: pointer;
  border-radius: 0.4rem;
  outline: none;
  border: none;
  font-weight: 500;

}
.menu-details button:hover{
  background-color: rgb(202, 196, 196);
  color: rgb(0, 0, 0);
  width: 5rem;
  height: 2.5rem;
  font-size: larger;
  margin: 0 auto;
  position: absolute;
  right:3.0rem;
  top: 9.2rem;
  cursor: pointer;
  border-radius: 0.4rem;
  outline: none;
  border: none;
  font-weight: 500;
}
label{
  background-color: rgb(32, 31, 31);
  color: white;
  position: absolute;
  margin: 0.2rem;
  padding:0.3rem 0.6rem;
  border-top-left-radius:0.5rem;
  font-size: larger;
}
.open-restaurant-card{
  transform: scale(0.92);
}
.accordion-header{
  display: flex;
  justify-content: space-between;
  font-size: large;
  font-weight: bolder;
  color: black;
  row-gap: 1rem;
  cursor: pointer;
}
span{
  font-size: 1.6rem;
  font-weight:bolder;
}
.restaurant-category{
  box-shadow: 5px 6px 8px rgb(206, 203, 203);
  color: rgb(46, 44, 44);
  text-decoration: solid;
  padding: 1rem;
}
.menu-info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  margin-top: 0.6rem;
  row-gap: 1.5rem;
}
.menu-info .individual-menu{
  width: 60%;
}
.individual-menu .name{
  color: black;
  font-weight: bolder;
  font-size: medium;
}
.individual-menu .cost{
  font-size: medium;
  color: black;
  font-weight: bolder;
}
.individual-menu h3{
  font-size: small;
  color: rgb(97, 90, 90);
  font-weight: bolder;
}
.menu-info {
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(212, 207, 207);
  background-color: rgb(243, 239, 239);
  margin: 1rem;
}
.menu-info:last-child{
  border-bottom: none;
}
.menu-info img{
  width: 7rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 0.5rem;
}
.img-btn{
  display: flex;
  flex-direction: column;
  position: relative;
}
.img-btn button{
position: absolute;
border: none;
border-radius: 0.5rem;
outline: none;
background-color: rgb(12, 12, 12);
color: white;
width: 3rem;
height: 1.5rem;
font-size: medium;
align-items: center;
cursor: pointer;
right: 1.5rem;
bottom: 0.1rem;
}
.img-btn button:hover{
position: absolute;
border: none;
border-radius: 0.5rem;
outline: none;
background-color: rgb(75, 74, 74);
color: rgb(255, 255, 255);
width: 3rem;
height: 1.5rem;
font-size: medium;
align-items: center;
cursor: pointer;
right: 1.5rem;
bottom: 0.1rem;
}
.empty-cart{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 4rem;
  row-gap: 1rem;
}
.empty-cart img{
  width: 30%;
  background-color: #121212;
}
.empty-cart h3{
  font-size: larger;
  font-weight: bolder;
}
.empty-cart p{
  font-size:large;
  font-weight: 600;
}
.continue-shopping{
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 column-gap: 1rem;
 background-color: rgb(223, 117, 19);
 color: azure;
 padding: 0.5rem 1.3rem;
}
.link{
  text-decoration: none;
}
.cart-title{
font-size: large;
display: flex;
justify-content: center;
}
.cart-info{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgb(179, 179, 179);
  border-radius: 0.5rem;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 1rem auto;
}
.added-cart-img{
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  padding: 1rem;
  width: 34rem;
  
}
.added-cart-img img{
width: 8rem;
height: 8rem;
object-fit: contain;
border-radius: 0.9rem;
}
.details h3{
  font-size: large;
}
.details p{
  font-size: medium;
}
.details button{
  width:10rem;
  height: 2rem;
  background-color: rgb(5, 79, 175);
  color: white;
  outline: none;
  border: none;
  font-size: larger;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 0.5rem;
}
.cart-product-price{
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  justify-content: space-evenly;
  align-items: center;
  padding-right:1.5rem;
}
.cart-product-price h3{
  font-size: large;
  color: #121212;
  font-weight: 700;
}
.increment{
  display: flex;
  flex-direction: row;
}
.increment h4{
  font-size: large;
  color: #121212;
  font-weight: 700;
}
.increment-btn{
display: flex;
flex-direction: row;
border: 1px solid #747373;
column-gap: 0.7rem;
}
.increment-btn button{
  outline: none;
  border: none;
  background-color: white;
  font-size: large;
  cursor: pointer;
  font-weight: 900;
  
}
.cart-summary{
  width: 65%;
  margin: 2rem auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cart-checkout{
  display: flex;
  flex-direction: column;
  row-gap: 0.6rem;
}
.btn button{
  width: 7rem;
  height: 2rem;
  font-size: large;
  border-radius: 0.4rem;
  color: black;
  font-weight: 600;
  border: 1px solid grey;
  outline: none;
  cursor: pointer;
}
.sub-total{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: large;
}

.free-delivery{
  font-size: medium;
  color: #050505;
  font-weight: 500;
}
.checkout{
  width: 10rem;
  height: 1.7rem;
  background-color: rgb(5, 79, 175);
  color: white;
  outline: none;
  border: none;
  font-size: large;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 0.5rem;
}
.mobile{
  display:none
}
@media screen and (max-width: 480px){
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    box-shadow: 5px 6px 8px rgb(241, 239, 239);
    color: rgb(59, 53, 53);
    font-weight: 100;
    position: sticky;
    z-index:1000;
    top: 0;
    background-color: white;
  }
  .header .left {
    display: flex;
    flex-direction: row;
    column-gap: 1.0rem;
    align-items: center;
  }
  .left img {
    width: 3rem;
    height: 2.5rem;
    object-fit: contain;
    cursor: pointer;
  }
  .left .context h2{
    font-size: small;
  }
  
  .header .right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 70px;
    right: 0px;
    left: 260px;
    width: 220px;
    height: 100vh;
    row-gap: 1.2rem;
    background-color: #dad5d5;
    font-size: smaller;
    padding: 0.7rem;
  }
  .header .right-close {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 60px;
    right: -300px;
    left: 260px;
    width: 220px;
    height: 100vh;
    row-gap: 1.2rem;
    background-color: #dad5d5;
    font-size: smaller;
    padding: 0.7rem;
  }
  .search {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0.3rem;
    cursor: pointer;
    font-size: small;
  }
  .search:hover {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0.3rem;
    cursor: pointer;
    color: rgb(255, 141, 2);
    font-size: small;
  }
  .search i {
    font-size: medium;
  
  }
  .help {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0.3rem;
    cursor: pointer;
    font-size: small;
  }
  .help:hover {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0.5rem;
    cursor: pointer;
    color: rgb(255, 141, 2);
    font-size: small;
  }
  .help i {
    font-size: medium
  }
  .user {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0.5rem;
    cursor: pointer;
    font-size: small;
  }
  .user:hover {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0.5rem;
    cursor: pointer;
    color: rgb(255, 141, 2);
    font-size: small;
  }
  .user i {
    font-size: medium
  }
  .cart {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0.5rem;
    cursor: pointer;
    font-size: small;
  }
  .cart:hover {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0.5rem;
    cursor: pointer;
    color: rgb(255, 141, 2);
    font-size: small;
  }
  .cart i {
    font-size: medium
  }
  .cart .value {
    background-color: red;
    color: white;
    width: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    right: 5.4rem;
    top: 1.8rem;
    font-size: small;
  }
  .right button{
    width: 4rem;
    height: 2rem;
    border: none;
    outline: none;
    border-radius: 0.7rem;
    color: white;
    background-color: rgb(24, 21, 21);
    cursor: pointer;
    font-size: medium;
  }
  .right button:hover{
    width: 4rem;
    height: 2rem;
    border: none;
    outline: none;
    border-radius: 0.7rem;
    color: white;
    background-color: rgb(255, 141, 2);
    color: black;
    cursor: pointer;
    font-size: medium;
  }
  .right-close button{
    width: 4rem;
    height: 2rem;
    border: none;
    outline: none;
    border-radius: 0.7rem;
    color: white;
    background-color: rgb(24, 21, 21);
    font-size: medium;
    cursor: pointer;
  }
  .right-close button:hover{
    width: 4rem;
    height: 2rem;
    border: none;
    outline: none;
    border-radius: 0.7rem;
    color: white;
    background-color: rgb(255, 141, 2);
    color: black;
    font-size: medium;
    cursor: pointer;
  }
  .context h2{
    font-size: large;
  }
  .body{
    margin: 1rem 2.8rem;
    display:flex;
    flex-direction: column;
    row-gap: 1.2rem;
  }
  .input{
  display: flex;
  justify-content: center;
  align-items: center;
  }
  .input input{
    width: 15rem;
    height: 1.8rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border: 1px solid rgb(196, 113, 11);
    outline: none;
    font-weight: 300;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium ;
    padding: 0.7rem;
  }
  .input button{
    width: 7rem;
    height: 1.8rem;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color:rgb(196, 113, 11);
    font-size: large;
    font-weight: 200;
    color: white;
    cursor: pointer;

  }
  .input button:hover{
    width: 7rem;
    height: 1.8rem;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: rgb(24, 21, 21);
    color: white;
    font-size: large;
    font-weight: 200;
    cursor: pointer;
    outline: none;
    border: none;
  }
  .filters{
    display: flex;
    flex-direction: row;
    column-gap: 0.7rem;
    row-gap: 0.7rem;
    outline: none;
    border: none;
  }
  .filter-title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .filter-title h1{
    font-size: medium;
  }
  .filter-btn{
    width: 20rem;
    height:2rem;
    border-radius: 2rem;
    background-color: rgb(24, 21, 21);
    color: white;
    cursor: pointer;
    font-size: small;
    font-weight: 500;
    outline: none;
    border: none;
  }
  .body-restaurant{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 1.6rem;
    row-gap: 1.2rem;
    margin-top: 0.2rem;
  }
  .body-restaurant .link{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 1.6rem;
    row-gap: 1.2rem;
    margin-top: 0.2rem;
    text-decoration: none;
    color: rgb(29, 28, 28);
  }
  .restaurant-card{
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: auto;
    row-gap: 0.4rem;
    cursor: pointer;
  }
  .restaurant-card:hover{
    transform: scale(0.92);
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: auto;
    row-gap: 0.4rem;
    cursor: pointer;
  }
  .restaurant-card img{
  width: 17rem;
  height: 11rem;
  object-fit:cover;
  border-radius: 1rem;
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5))
  }
  .rating1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0.6rem;
  }
  .star{
  color: green;
  font-size: small;
  }
  .details{
    margin-left: 0.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.3rem;
  }
  .details h2{
    font-weight: 900;
    font-size: larger;
  }
  .details h4{
  width: 16rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  }
  .cuisines{
    font-size: medium;
    color: #3f3e3e;
  }
  .rating h3{
    color: rgb(82, 70, 70);
  }
  .offer{
    position: absolute;
    top: 24rem;
    margin-left: 0.5rem;
    color: white;
    font-weight:700;
  }
  .footer{
    background-color: black;
    height: 5rem;
    display: flex;
    flex-direction: row;
    color: rgb(148, 142, 135);
  }
  .footer .info{
    display: flex;
   column-gap: 1.6rem;
   margin-left: 2rem;
  }
  .footer img{
    width: 2rem;
    height:2rem;
    object-fit: contain;
  }
  .info h2{
    font-size: x-small;
  }
  .about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem 5rem;
    row-gap: 2rem;
    background-color: rgb(64, 102, 158);
    color: white;
  }
  .about h1{
    font-size: small;
  }
  .about-info{
    display: flex;
    flex-direction: column;
    column-gap: 2rem;
    padding:2rem;
    background-color: white;
    color: black;
  }
  .about img{
    width: 15rem;
    height: auto;
    object-fit:contain;
    border-radius: 4rem;
  }
  .main .passion{
    margin: 1rem;
    font-size: medium;
  }
  .about .brief-info{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border-bottom: 1px solid grey;
   border-top: 1px solid grey;
   row-gap: 1.2rem;
   margin: 2rem auto;
   padding: 2rem;
  }
  .brief-info h2{
    font-size: medium;
  }
  .error{
    margin: 2rem 5rem;
  }
  .error img{
    width: 20rem;
    height: 18rem;
  }
  .header .right .link{
    color: rgb(68, 60, 60);
    text-decoration: none !important;
  }
  .header .right-close .link{
    color: rgb(68, 60, 60);
    text-decoration: none !important;
  }
  .sign-in{
    display: flex;
    flex-direction: column;
    margin: 2rem;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
  }
  .sign-in img{
    width: 20rem;
  }
  .sign-in h1{
    font-size: small;
  }
  .menu{
    display: flex;
    flex-direction: column;
    margin: 2rem;
  }
  .info h1{
    font-size: larger;
  }
  .info h3{
    color: rgb(85, 77, 77);
    font-size:medium;
  }
  .info-rating{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
  }
  .rating{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(223, 206, 206);
    border-radius: 0.5rem;
    padding: 1rem;
    height: 6.3rem;
    row-gap: 0.5rem;
  }
  .rating span{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 0.4rem;
    row-gap: 0.4rem;
    color: green;
    border-bottom: 1px solid rgb(223, 206, 206);
    padding: 0.2rem;
    
  }
  .rating span i{
    font-size: small;
  }
  .rating h1{
    font-size:large;
  }
  .rating h4{
    color: rgb(85, 77, 77);
  }
  .rating i{
    font-size: large;
  }
  .delivery span{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0.5rem;
    color: rgb(85, 77, 77);
  }
  .delivery .message{
    font-size: small;
  }
  .menu-details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #f0ebe1;
    border-bottom: 1px solid rgb(201, 179, 179);
    margin-top: 1rem;
    .top {
      box-shadow: 5px 6px 8px rgb(238, 234, 234);
    }
  }
  .menu-details .info{
  width: 50rem;
  padding: 2rem 0.8rem;
  row-gap: 2rem;
  }
  .menu-details .info h3{
    color: rgb(133, 121, 121);
  }
  .menu-image{
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .menu-details img{
    width: 12rem;
    height: 12rem;
    object-fit: contain;
    border-radius: 33%;
    padding: 1.5rem;
    margin-bottom: 1rem;
  
  }
  .menu-details button{
    background-color: black;
    color: white;
    width: 5rem;
    height: 2.5rem;
    font-size: larger;
    margin: 0 auto;
    position: absolute;
    right:3.0rem;
    top: 9.2rem;
    cursor: pointer;
    border-radius: 0.4rem;
    outline: none;
    border: none;
    font-weight: 500;
  
  }
  .menu-details button:hover{
    background-color: rgb(202, 196, 196);
    color: rgb(0, 0, 0);
    width: 5rem;
    height: 2.5rem;
    font-size: larger;
    margin: 0 auto;
    position: absolute;
    right:3.0rem;
    top: 9.2rem;
    cursor: pointer;
    border-radius: 0.4rem;
    outline: none;
    border: none;
    font-weight: 500;
  }
  label{
    background-color: rgb(32, 31, 31);
    color: white;
    position: absolute;
    margin: 0.2rem;
    padding:0.3rem 0.6rem;
    border-top-left-radius:0.5rem;
    font-size: larger;
  }
  .open-restaurant-card{
    transform: scale(0.92);
  }
  .accordion-header{
    display: flex;
    justify-content: space-between;
    font-size: large;
    font-weight: bolder;
    color: black;
    row-gap: 1rem;
    cursor: pointer;
  }
  span{
    font-size: 1.6rem;
    font-weight:bolder;
  }
  .restaurant-category{
    box-shadow: 5px 6px 8px rgb(206, 203, 203);
    color: rgb(46, 44, 44);
    text-decoration: solid;
    padding: 1rem;
  }
  .menu-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem;
    margin-top: 0.6rem;
    row-gap: 1.5rem;
  }
  .menu-info .individual-menu{
    width: 70%;
  }
  .individual-menu .name{
    color: black;
    font-weight: bolder;
    font-size: medium;
  }
  .individual-menu .cost{
    font-size: medium;
    color: black;
    font-weight: bolder;
  }
  .individual-menu h3{
    font-size: small;
    color: rgb(97, 90, 90);
    font-weight: bolder;
  }
  .menu-info {
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(212, 207, 207);
    background-color: rgb(243, 239, 239);
    margin: 1rem;
  }
  .menu-info:last-child{
    border-bottom: none;
  }
  .menu-info img{
    width: 5rem;
    height: 4rem;
    object-fit: cover;
    border-radius: 0.5rem;
  }
  .img-btn{
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .img-btn button{
  position: absolute;
  border: none;
  border-radius: 0.5rem;
  outline: none;
  background-color: rgb(12, 12, 12);
  color: white;
  width: 3rem;
  height: 1.5rem;
  font-size: small;
  align-items: center;
  cursor: pointer;
  right: 1.9rem;
  bottom: 3rem;
  }
  .img-btn button:hover{
  position: absolute;
  border: none;
  border-radius: 0.5rem;
  outline: none;
  background-color: rgb(75, 74, 74);
  color: rgb(255, 255, 255);
  width: 3rem;
  height: 1.7rem;
  font-size: small;
  align-items: center;
  cursor: pointer;
  right: 1.9rem;
  bottom: 3rem;
  }
  .empty-cart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 4rem;
    row-gap: 1rem;
  }
  .empty-cart img{
    width: 20rem;
    background-color: #121212;
  }
  .empty-cart h3{
    font-size: medium;
    font-weight: bolder;
  }
  .empty-cart p{
    font-size:small;
    font-weight: 200;
  }

  .continue-shopping{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    background-color: rgb(223, 117, 19);
    color: azure;
    padding: 0.5rem;
    font-size: x-small;
   }
  .link{
    text-decoration: none;
  }
  .cart-title{
  font-size: large;
  display: flex;
  justify-content: center;
  }
  .cart-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
    border-bottom: 1px solid rgb(179, 179, 179);
    border-radius: 0.5rem;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin: 0.7rem auto;
  }
  .added-cart-img{
    display: flex;
    flex-direction: row;
    column-gap: 0.2rem;
    width: 14rem;
    
  }
  .added-cart-img img{
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  border-radius: 0.4rem;
  }
  .details h3{
    font-size: small;
  }
  .details button{
    width:4rem;
    height: 1.2rem;
    background-color: rgb(5, 79, 175);
    color: white;
    outline: none;
    border: none;
    font-size: small;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 0.5rem 0rem;

  }
  .cart-product-price{
    display: flex;
    flex-direction: row;
    column-gap: 0.85rem;
  }
  .cart-product-price h3{
    font-size: x-small;
    color: #121212;
    font-weight: 700;
  }
  .increment{
    display: flex;
    flex-direction: row;
  }
  .increment h4{
    font-size: small;
    color: #121212;
    font-weight: 700;
  }
  .increment-btn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid #747373;
  column-gap: 0.3rem;
  }
  .increment-btn button{
    outline: none;
    border: none;
    background-color: white;
    font-size: small;
    cursor: pointer;
    font-weight: 900;
    
  }
  .cart-summary{
    width: 75%;
    margin: 1rem auto;
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
  }
  .cart-checkout{
    display: flex;
    flex-direction: column;
    row-gap: 0.3rem;
  }
  .btn button{
    width: 6rem;
    height: 2rem;
    font-size: smaller;
    border-radius: 0.4rem;
    color: black;
    font-weight: 600;
    border: 1px solid grey;
    outline: none;
    cursor: pointer;
  }
  .sub-total{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: small;
  }
  
  .free-delivery{
    font-size: medium;
    color: #050505;
    font-weight: 500;
  }
  .checkout{
    width: 5rem;
    height: 1.7rem;
    background-color: rgb(5, 79, 175);
    color: white;
    outline: none;
    border: none;
    font-size: small;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 0.5rem;
  }
  .mobile{
    display:flex;
    margin-right: 0.3rem;
  }
}
